[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "ACEsearch"]
	path = ACEsearch
	url = https://github.com/cran/ACEsearch
[submodule "atlas"]
	path = atlas
	url = https://github.com/cran/atlas
